extends ../layout.pug

block body_content
    form(action="/account/edit" method="post" enctype="multipart/form-data")
        div.row.form-group
            div.col-xs-2.col-sm-2.col-md-1
                h3= `Name: `
            div.col-xs-10.col-sm-4.col-md-3
                input(type="hidden" value=`${ViewBag.User.userid}` name="userid")
                input.form-control(type="text" value=`${ViewBag.User.firstname}` name="firstname" required="true" placeholder="First Name" style="margin-top:15px")
            div.col-xs-12.col-sm-4.col-md-3
                input.form-control(type="text" value=`${ViewBag.User.lastname}` required="true" name="lastname" placeholder="Last Name" style="margin-top:15px")
        div.row.form-group
            div.col-xs-2.col-sm-2.col-md-1
                h3= "Email: "
            div.col-xs-5.col-sm-4.col-md-3
                input.form-control(type="text" value=`${ViewBag.User.email}` required="true" name="email" placeholder="Email" style="margin-top:15px")
        div.row.form-group
            div.col-xs-2.col-sm-2.col-md-1
                img(src=`${ViewBag.User.profile_pic}` class="profile_picture" alt=`${ViewBag.User.firstname} ${ViewBag.User.lastname}'s profile picture`)
            div.col-xs-5.col-sm-4.col-md-3
                input.form-control(type="file" value=`${ViewBag.User.profile_pic}` required="false" name="profile_pic" placeholder="/photos/default.jpg" style="margin-top:15px")
        div.row.form-group
            div.col-xs-12.col-sm-12.col-md-12
                input.btn.btn-success(type="submit" value=`Save!`)
    hr