extends ../layout.pug

block body_content
    div.row
        div.col-xs-2.col-sm-2.col-md-1
            img(src=`${ViewBag.User.profile_pic}` class="profile_picture" alt=`${ViewBag.User.firstname} ${ViewBag.User.lastname}'s profile picture`)
        div.col-xs-10.col-sm-8.col-md-6
            h3= `Hello ${ViewBag.User.firstname} ${ViewBag.User.lastname}`
    hr
    div.row
        div.col-xs-2.col-sm-2.col-md-2
            span= "Email: "
        div.col-xs-5.col-sm-4.col-md-3
            span= `${ViewBag.User.email}`
        div.col-xs-5.col-sm-4.col-md-3
            if(ViewBag.isEdit === true)
                a(href=`/account/edit/${ViewBag.User.userid}` target="_parent")
                    span= "Change"    