extends ../layout.pug

block body_content
    - let name = `${User.firstname} ${User.lastname}`
    div.row
        div.col-xs-12
            ol.breadcrumb
                li
                    a(href="/")
                        span="Home"
                li
                    a(href="#")="Profiles"
                li.active
                    a(href=`/profile/view/${User.userid}`)=`${name}`
    div.row
        div.col-xs-3.col-sm-2.col-md-1
            img(src=`${User.profile_pic}` class="profile_picture" alt=`${name}'s profile picture`)
        div.col-xs-9.col-sm-6.col-md-6
            h3= `${name}`
    hr
    div.row
        div.col-xs-2.col-sm-2.col-md-2
            span= "Email: "
        div.col-xs-5.col-sm-4.col-md-3
            span= `${User.email}`
    if ViewBag.blogs.length > 0
        div.row
            div.col-xs-12
                hr
                h3=`${User.firstname}'s feed`
        each blog in ViewBag.blogs
            div.row.blog_post(data-blog=`${blog.blog_id}`)
                div.col-xs-10.col-sm-6                                        
                    h4(title="Subject")= blog.subject                    
                    p(title="Body")!= blog.body
                    p(title="Tags")
                        div.blog-tag.blog-tag--icon(title="tags")
                            i.fa.fa-tags(style="display: inline-block")
                        each tag in blog.tags
                            div(title=tag).blog-tag 
                                span=` ${tag}`           
    else
        hr
        h3=`${User.firstname} has no blogs...`