extends layout.pug

block body_content
    div.row
        div.col-xs-10.col-sm-10.col-md-11
            h2.headingIntro= `Hi ${ViewBag.User.firstname} ${ViewBag.User.lastname}!`
        div.col-xs-2.col-sm-2.col-md-1.text-right
            div.btn.btn-primary(data-action="toggle_blog_form" title="Toggle blog form")
                i.fa.fa-plus
    div.row        
        div.col-xs-12.col-sm-10.col-md-8#blog_form(style="display:none;")
            br
            form(action="/blog/postBlog" method="post")      
                input(type="hidden" value=`${ViewBag.User.userid}` name="user_id")          
                div.form-group                                
                    input(name="subject" placeholder="Subject" type="text").form-control
                div.form-group                
                    textarea(name="body" placeholder="Body").form-control
                div.form-group                
                    input(name="tags" placeholder="Tags" type="text").form-control
                div.form-group.text-right                                    
                    div(class="btn btn-success" title="Submit Form" data-action="submit_new_blog")
                        i.fa.fa-paper-plane-o
    hr
    div.row
        div.col-xs-12
            h3="News Feed"
    div.row
        div.col-xs-12.blog_container        
            if ViewBag.blogs.length > 0
                each blog in ViewBag.blogs
                    - let name = `${blog.user.firstname} ${blog.user.lastname}`
                    hr
                    div.row.blog_post
                        div.col-xs-3.col-sm-2.col-md-1.mobile-hide
                            img.profile_picture.profile_picture--blog(src=blog.user.profile_pic alt=`${name}'s' Profile Picture` title=`${name}'s' Profile Picture`)
                        div.col-xs-9.col-sm-6                
                            h5.__title(title="Post Owner")
                                a(href=`/profile/view/${blog.user.userid}` target="_parent")
                                    span(title=`View ${name}'s profile`)= name
                                a.time(href=`/blog/view/${blog.blog.blog_id}` target="_parent")
                                    span(title="See post in new tab")= `${blog.blog.time_ago}`
                            h3(title="Subject")= blog.blog.subject
                            p.__body(title="Body")!= blog.blog.body
                            p(title="Tags")
                                div.blog-tag.blog-tag--icon(title="tags")
                                    i.fa.fa-tags(style="display: inline-block")
                                each tag in blog.blog.tags
                                    div(title=tag).blog-tag 
                                        span=` ${tag}`  
            else
                h3="No Blogs"

