form.dig-form.form-horizontal#newBlogForm(action="/blog/postBlog" method="post")
            input(type="hidden" value=`${ViewBag.User.userid}` name="user_id")
            input(type="hidden" value="-1" name="product_id")
            div.form-group
                label(for="subject")="Subject"
                input(name="subject" placeholder="Grab Some Attention (optional)" type="text").form-control
            div.form-group
                label.__required(for="body")="Main Text"
                textarea(name="body" required placeholder="Tell the community...").form-control
            div.form-group
                label(for="tags")="Tags"
                input(name="tags" placeholder="Seperate by spaces" type="text").form-control
            div.row
                div.col-xs-6.text-left
                    div(class="btn btn-primary" title="Attach Product" data-toggle="modal" data-target="#product_modal")
                        i.fa.fa-search
                        span#spanBlogText=" Product"
                div.col-xs-6.text-right
                    div(class="btn btn-success" title="Post New Blog!" data-form="#newBlogForm" data-action="submit_new_blog")
                        i.fa.fa-paper-plane-o