select(name="SearchIndex").form-control
    option(value="All")="All"
    option(value="Book")="Book"
    option(value="DVD")="DVD"
    option(value="Music")="Music"
    option(value="Video")="Video"
    option(value="Jewelry")="Jewelry"
    option(value="Automotive")="Automotive"
    option(value="Watch")="Watch"
    option(value="Electronics")="Electronics"